.CouponCardNew {
  border: 1px solid #F2F4F5;
  border-radius: 5px;
  width: 736px;
  max-width: 736px;
  height: 623px;
  position: relative;
  background-color: white;
}

.CouponCardNewImg {
  width: 400px;
  height: 400px;
  margin: 32px auto;
}