.payments_title {
  font-family: Heebo;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;

  /* identical to box height, or 150% */

  display: flex;
  align-items: center;
  letter-spacing: 0.2px;

  /* Color/Neutral/Black 75% */

  color: #415962;
  margin-top: 12px;
  margin-bottom: 48px;
}
