.titleTransactions {
  font-family: Heebo !important;
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 32px !important;
  color: #01222E !important;
}

.approvePayment {
  font-family: Heebo !important;
  font-style: normal;
  font-weight: normal;
  font-size: 16px !important;
  line-height: 24px !important;
  color: #415962 !important;
}

.btnTransactionApprove {
  border-color: #FE5900 !important;
  background: #FE5900;
  box-shadow: 0 4px 16px rgba(254, 89, 0, 0.16);
  border-radius: 5px;
  color: white !important;
  width: 224px !important;
  height: 40px !important;
}
